{% extends 'base.html.twig' %}

{% block title %}
Bienvenue sur le meilleur reseau d'appartement
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur symBNB</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>
        <h2 class="mt-3 mb-3">Nos appartement Stars</h2>
        <div class="row ">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="car-header text-center">
                        3 chambre <strong> 49 euro</strong> <br>
                        <small>pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="" style="height: 200px;width: 100%;display: block">
                <div class="card-body">
                    <h4 class="card-title">
                        apparetement de ouf
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem impedit
                        inventore iure numquam officiis perferendis quis quisquam sint sunt.</p>
                    <a href="#" class="btn btn-secondary">en savoir plus</a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="car-header text-center">
                        3 chambre <strong> 49 euro</strong> <br>
                        <small>pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="" style="height: 200px;width: 100%;display: block">
                <div class="card-body">
                    <h4 class="card-title">
                        apparetement de ouf
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem impedit
                        inventore iure numquam officiis perferendis quis quisquam sint sunt.</p>
                    <a href="#" class="btn btn-secondary">en savoir plus</a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="car-header text-center">
                        3 chambre <strong> 49 euro</strong> <br>
                        <small>pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="" style="height: 200px;width: 100%;display: block">
                <div class="card-body">
                    <h4 class="card-title">
                        apparetement de ouf
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem impedit
                        inventore iure numquam officiis perferendis quis quisquam sint sunt.</p>
                    <a href="#" class="btn btn-secondary">en savoir plus</a>
                </div>
                </div>
            </div>

        </div>

        <h2 class="mt-3 mb-3">nos proprietaires starts</h2>
        <div class="row ">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            Soufien SALHI
                        </h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ea, neque? Accusamus
                                animi, architecto expedita fuga in incidunt, itaque, maxime minima nihil quis sed
                                sint?</p>
                            <a href="#" class="btn btn-success float-right">En savoir Plus !</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            Soufien SALHI
                        </h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ea, neque? Accusamus
                                animi, architecto expedita fuga in incidunt, itaque, maxime minima nihil quis sed
                                sint?</p>
                            <a href="#" class="btn btn-success float-right">En savoir Plus !</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
